<style>

@media (min-width: 360px) and (orientation: portrait) {section { padding-top: 8em; }}
@media (min-width: 375px) and (orientation: portrait) {section { padding-top: 8em; }}
@media (min-width: 568px) and (orientation: landscape) {section { padding-top: 5em; }}
@media (min-width: 667px) and (orientation: landscape) {section { padding-top: 5em; }}
@media (min-width: 736px) and (orientation: landscape) {section { padding-top: 5em; }}
@media (min-width: 812px) and (orientation: landscape) {section { padding-top: 6em; }}
@media (min-width: 1024px) and (orientation: portrait) {section { padding-top: 5em; }}
@media (min-width: 1024px) and (orientation: landscape) {section { padding-top: 6em; }}
@media (min-width: 1366px) and (orientation: landscape) {section { padding-top: 6em; }}

html, body {
	font-family: Montserrat, sans-serif;
    font-size:11pt;


}


#main {
background-color:rgb(255,255,255);opacity:0.85;
padding-top:8px;
}


section {
	margin-top:2px;
	color:#000;
	font-family: Montserrat, sans-serif;
	font-weight:200;
	}

h3 {
	color:#000;
	font-family: Montserrat, sans-serif;
	//font-size:12pt;
	}

h4 {
	//padding-top:90px;
	color:#000;
	font-family: Montserrat, sans-serif;
	//font-size:14pt;
	}

li, p, input, label, button {
	//padding-top:90px;
	color:#000;
	font-family: Montserrat, sans-serif;
	font-size:12pt;
	}

a {
	//padding-top:90px;
	color:#000;
	font-family: Montserrat, sans-serif;
	font-size:12pt;
	}

 .btn {
 	font-family:Montserrat;
 	font-weight:800;
 }


.icon-bar {
  position: fixed;
	z-index:99999;
  top:	55%;
	right: 25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.top-container {
  background-color: #492dbe;
  padding: 0px;
  font-weight:500;
  text-align: center;
  z-index: 8888;
  width:100%;
}

.header {
  //padding: 10px 16px;
  background: #fff;
  border-bottom: 5px solid silver;
  color: #f1f1f1;
  z-index: 888;
  padding-right:0;
}

.navbar {
 color: #f1f1f1;
}

.navbar li {
 padding-left:.7em;
 padding-right:.7em;
 font-family: Montserrat, sans-serif;
}

.content {
  padding-top: 120px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  //padding-top: 102px;
}
img {
	max-width:100%;
	height:auto;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
	z-index:1000;
  top:	55%;
	right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 11px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #baa6a6;
}

.facebook {
  //background: #3B5998;
  //color: white;

}

.twitter {
  //background: #55ACEE;
  //color: white;
}f1f1f1

.google {
  //background: #dd4b39;
  //color: white;
}

.instagram {
  //background: #007bb5;
  //color: white;
}

.pinterest {
  //background: #bb0000;
  //color: white;
}

.aButton  {

    width:100%;
    height:100%;
    background:#f1f1f1;
    border:1px #dfec solid;
    padding-left:12px;
    padding-right:12px;
    padding-top:4px;
    padding-bottom:3px;
    color:#000;
   

  
}
      
    </style>

